<nav>
  <div class="logo">Eco Adventure</div>

  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/habitats">Habitats</a></li>
    <li><a href="/experiences">Experiences</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
